<div
  class="d-flex flex-column container-fluid justify-content-center align-items-center p-4"
  style="width: 100%; height: 100vh; background-color: rgb(243 244 246)"
>
  <div class="row bg-white border text-center px-4" style="width: 498px">
    <div class="col my-3 pt-3 d-flex justify-content-center align-items-center">
      <img src="assets/img/menestagram-logo-text.png" alt="logo" />
    </div>
    <div class="col-12">
      <p class="text-black fw-bold fs-5 text-black-50">
        Sign up to see photos and videos from your friends.
      </p>
    </div>
    <div class="col-12 mt-3 mb-2" role="button">
      <div class="d-grid gap-2">
        <button class="btn btn-primary fw-bold m-0">
          <i class="fa fa-facebook-official fs-5 me-2" aria-hidden="true"></i>
          Log in with Facebook
        </button>
      </div>
    </div>

    <div class="position-relative">
      <hr />
      <p
        class="position-absolute top-50 start-50 translate-middle bg-white fw-bold text-black-50 px-4"
      >
        OR
      </p>
    </div>
    <div class="col-12">
      <form action="" class="my-3">
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Mobile Number or Email</label>
        </div>
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Full Name</label>
        </div>
        <div class="form-floating mb-2">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-2">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="col-12">
          <p class="text-black-50">
            People who use our service may have uploaded your contact
            information to Menestagram.
            <a href="#" class="text-black fw-bold">Learn More</a>
          </p>
          <p class="text-black-50">
            By siging up, you agree to our
            <a href="#" class="text-black"
              ><strong>Terms</strong>, <strong>Data Policy</strong> and
              <strong>Cookies Policy</strong></a
            >
          </p>
        </div>
        <div class="d-grid gap-2 mb-3">
          <button class="btn btn-primary fw-bold">Sign up</button>
        </div>
        <!-- TODO error message -->
      </form>
    </div>
  </div>
  <div class="row bg-white border text-center mt-3" style="width: 498px">
    <div class="col-12 px-4 py-3">
      <p class="text-black mb-0 px-4">
        Have an account?
        <a routerLink="/loginTwo" class="link text-primary fw-bold m-0 p-0"
          >Log in</a
        >
      </p>
    </div>
  </div>
  <p class="my-3">Get the app.</p>
  <div class="row m-0 p-0 justify-content-center">
    <div class="col">
      <img src="assets/img/app-store.svg" width="140" alt="appStore" />
    </div>
    <div class="col">
      <img src="assets/img/play-store.svg" width="150" alt="playStore" />
    </div>
  </div>
</div>
