<div
  class="d-flex flex-column container-fluid justify-content-center align-items-center p-4"
  style="width: 100%; height: 100vh; background-color: rgb(243 244 246)"
>
  <div class="row bg-white border text-center px-4" style="width: 498px">
    <div
      class="col-12 pt-3 d-flex flex-column justify-content-center align-items-center"
    >
      <img src="assets/img/forgot-password-2.svg" width="300" alt="logo" />
      <p class="mb-0 text-black fw-bold fs-4">Trouble Logging In?</p>
      <p class="mb-0 text-muted fw-bold mt-4" style="text-align: justify">
        Enter your email, phone, or username and we'll send you a link to reset
        your password to get back into your account.
      </p>
    </div>
    <div class="col-12 mt-3">
      <form action="" class="mb-5 pb-2">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email, Phone, or Username</label>
        </div>
        <div class="d-grid gap-2 mb-3">
          <button class="btn btn-primary fw-bold">
            Send Rest Password Link
          </button>
        </div>
        <div class="position-relative mt-5 mb-4">
          <hr />
          <p
            class="position-absolute top-50 start-50 translate-middle bg-white fw-bold text-black-50 px-4"
          >
            OR
          </p>
        </div>
        <!-- TODO error message -->
        <a routerLink="/signup" class="link fw-bold">Create New Account</a>
      </form>
    </div>
  </div>
  <div class="row border text-center" style="width: 498px">
    <div class="col-12 px-4 py-3">
      <p class="text-black mb-0 px-4">
        <a routerLink="/loginTwo" class="link fw-bold m-0 p-0">Back To Login</a>
      </p>
    </div>
  </div>
</div>
